@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    
}

/*Bernard: header styling start*/

nav{
    background-color: #373736;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #faa91f;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #faa91f;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;

}

a.active, a:hover{
    background: #5c5c5c;
    color: #fed046;
    transition: .5s;
}

.hcbtn{
    font-size: 30px;
    color: #faa91f;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#headcheck{
    display: none;
}
@media(max-width: 952px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width: 858px) {
    .hcbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #373736;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #fed046;
    }
    #headcheck:checked ~ ul{
        left: 0;
    }
}
/*header styling end*/


.signupform{
    margin-top: 50px;
    width: 450px;
    height: max-content;
    background: rgba(83, 82, 82, 0.7);
    padding: 4rem;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    border-radius: 10px;
}
.signupform h2{
    font-size: 35px;
    padding-bottom: 1rem;
}
.signupform p{
    font-size: 20px;

}

.signupform a{
    text-decoration: none;
}
.signupform a:hover{
    color: rgb(229, 232, 235);
}


.signup-item{
    padding: 10px;
}

/* .signup-btn{
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
   border: 1px solid rgb(32, 129, 226);
} 
 */






/*footer styling start*/


.footer{
    padding: 3rem;
    background-color: #373736;
}
.social{
    text-align: center;
    padding-bottom: 1rem;
    color: #faa91f;
    font-size: 24px;
}
.social a{
    color: inherit;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
}
.footer-list{
    color: #faa91f;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    text-align: center;
}
.footer-list li a{
    color: inherit;
    text-decoration: none;
}
.footer-list li{
    display: inline-block;
    padding: 1rem;
}


/*footer styling end*/
/* index styling start */
.img1, .img2, .img3 {
    /* The image used */
    background-image: url('https://media.discordapp.net/attachments/946633729894391838/965631876008132688/unknown.png?width=721&height=481');
  
    /* Full height */
    height: 100%; 
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1 {
    /* The image used */
    background-image: url('https://media.discordapp.net/attachments/946633729894391838/965631876008132688/unknown.png?width=721&height=481');
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img2 {
    /* The image used */
    background-image: url('https://doqvf81n9htmm.cloudfront.net/data/heidilin_146/0Currency/Virtual/1920_shutterstock_608089037.jpg');
}
.img3 {
    /* The image used */
    background-image: url('https://forexspringboard.com/wp-content/uploads/2019/07/exchange-rates-and-international-trade-950x500.jpg');
}
.index-btn{
    font-size: 20px; 
    text-decoration: none;
    width: 250px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    padding: 15px 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-div{
    height: 400px;
    background-color:#373736;
    font-size:36px;
}
.index-div p{
    text-align: center;
    padding: 70px;
    color: white;
}
.index-div a:hover{
    color: white;
    transition: .5s;
}
/* index styling ending */

/*quick converter styling start*/
.qccontainer{
    background-color: #373736;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
  }
  
.qcheader{
    color: #faa91f;
    margin-bottom: 0.5em;
  }
  
  
  .qccontainer .qcbox{
    width: 100%;
    display: flex;
  }
  
  .qcbox div{
    width: 100%;
  }
  
  select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: grey;
    outline: none;
    color: #faa91f;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
  }
  
  
  input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
  }
  
  
  .qcbtn{
    width: 98%;
    height: 40px;
    background: #364547;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
  }

  /*quick converter styling end*/

  /*Login page start*/

.loginform{
    margin-top: 50px;
    width: 500px;
    background: rgba(83, 82, 82, 0.7);
    padding: 5rem;
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.loginform h2{
    font-size: 35px;
    padding-bottom: 1rem;
}
.loginform p{
    font-size: 20px;

}

.loginform a{
    text-decoration: none;
}
.loginform a:hover{
    color: rgb(229, 232, 235);
}

.login-item{
    padding: 10px;
}

.login-btn{
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
}
/*Login page end*/
/*profile page start*/
.profilebackdiv{
    background-color: #373736; 
    width: 800px; 
    height: 600px; 
    margin: 0px auto; 
    padding: 50px;  
    border-radius: 10px;
}
/*profile page end*/


/* record page start */

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* Wrapper */
.wrapper {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        padding: 4rem 0 2rem 0;
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3rem 0 1rem 0;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 2rem 0 0.1rem 0;
    }
}
.recordcontent {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 3%);
    margin-bottom: 2rem;
    padding: 3rem;
}
/* Inner */
.inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
}

@media screen and (max-width: 480px) {
    .inner {
        max-width: calc(100% - 3rem);
    }
}
/* record page end */
/*
.ercontainer{
    padding: 48px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ercontainer .group{
    padding: 8px 48px;
    margin: 8px;
}

.erinput[type="checkbox"]{
    display: none;
}

.erlabel{
    position: relative;
}

.erlabel::before{
    content: "";
    background: url("assets/check-circle.svg");
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -44px;
    top: -8px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54,0.01,0,1.49);
}

.erinput[type="checkbox"]:checked + label::before{
    transform: scale(1) rotateZ(0deg);
}

.erlabel::after{
    content: "";
    border: 2px solid #27ae60;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -42px;
    top: -6px;
    border-radius: 50%;
}*/